/*************************
NAVIGATION
*************************/



nav {
	text-align: left;
	padding: 1em 2em;
	margin: 1em 0 0 0;
	font-size: 1.2em;
	width: 20%;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}


/* nav link styling */
nav a {
	color: #000;
	display: block;
	min-height: 20px;
	background-size: 5px;
	padding: 0 0 0 30px;
	margin: 0 0 5px;
	text-decoration: none;
}

/* nav list item  */
nav li {
	margin: 5px;
	display: block;
	text-decoration: none;
}

#staticHead {
	float: right;
    margin: 0;

}

/*************************
LOGO
*************************/

header img {
	max-width: 200px;
	padding: 5px;
	border: 2px solid black;
}

/*************************
GALLERY
*************************/

.gallery {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /*should match li left margin*/
}

.gallery li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.gallery li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

.gallery li h3 {
	margin: 0 0 5px;
}

.gallery li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}

/* class for 3 columns */
.gallery li {
	width: 22.5%; /* this value + 2.5 should = 25% */
	
}


